DARTMAKER_DEV_MODE=false
CONTROL_PLANE_URL=https://control.dartmaker.com
CONTROL_PLANE_LOGIN_USERNAME=
CONTROL_PLANE_LOGIN_PASSWORD=
CONTROL_PLANE_MACHINE_ID=
CONTROL_PLANE_CLIENT_VERSION=1.0.0
CLOUDFLARED_CMD=
CEAC_QBID_PROJECT_ROOT=C:\Users\alber\Documents\IdeaProjects\qBidScrAPI
# Variables usadas por run-full-local.bat para levantar el control plane local
DEV_CONTROL_PLANE_ROOT=C:\Users\alber\Documents\IdeaProjects\dartmakerTunelControl
DEV_CONTROL_PLANE_PORT=8090
DEV_CONTROL_PLANE_KEYCLOAK_PORT=8181
