<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="SWING" class="tools.ceac.ai.desktop.ui.SwingLogAppender">
        <pattern>%d{HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="SWING"/>
    </root>
</configuration>
